Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MaintenanceEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pID_COMPAÑIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNOMBRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUBICACION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTELEFONO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pACCION" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MaintenanceEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaintenanceEmpresaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pID_COMPAÑIA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNOMBRE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUBICACION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTELEFONO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pACCION" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListEmpresaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MaintenanceEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:MaintenanceEmpresa" />
  </wsdl:message>
  <wsdl:message name="MaintenanceEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:MaintenanceEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="GetListEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:GetListEmpresa" />
  </wsdl:message>
  <wsdl:message name="GetListEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:GetListEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="MaintenanceEmpresa">
      <wsdl:input message="tns:MaintenanceEmpresaSoapIn" />
      <wsdl:output message="tns:MaintenanceEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListEmpresa">
      <wsdl:input message="tns:GetListEmpresaSoapIn" />
      <wsdl:output message="tns:GetListEmpresaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MaintenanceEmpresa">
      <soap:operation soapAction="http://tempuri.org/MaintenanceEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListEmpresa">
      <soap:operation soapAction="http://tempuri.org/GetListEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MaintenanceEmpresa">
      <soap12:operation soapAction="http://tempuri.org/MaintenanceEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListEmpresa">
      <soap12:operation soapAction="http://tempuri.org/GetListEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44345/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44345/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>